<h1>Hi Himanshu! Your current tasks are:</h1>
<!--content div contains all the conde that reactjs works on. -->
<div id="content"></div>


<!-- scripts-->

<!--jquery-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
<!--TODO: remove the reactDOM and reactjs scripts. The bundle already handles putting them in.-->
<!-- reactjs-->
<script  src="static/js/lib/react.min.js"></script>
<!-- reactDOM is helper for reachjs-->
<script  src="static/js/lib/reactDOM.min.js"></script>
<!-- bundled js code-->
<script src="static/js/bundle.js"></script>